<h3>edit product for selling</h3>
<div class="row">
    <form action="/orders/{{order._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{order.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                {{!-- <select id="status" name="status">
                    {{#select order.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select> --}}
                <input type="number" id="number-input" name="price" step="any" pattern="[0-9\.\-]*" value="{{order.price}}">
                <label for="status">price(₪)/kg</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Description of products:</h5>
                <textarea id="body" name="body">{{order.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
