<h3>Add product for selling</h3>
<div class="row">
    <form action="/products" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{product.title}}">
                <label for="title">Title</label>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <input type="number" id="number-input" name="price" step="any" pattern="[0-9\.\-]*" value="{{product.price}}">
                <label for="status">price(₪)/kg</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Description of the product:</h5>
                <textarea id="body" name="body" placeholder="Enter description here"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
